@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin-left: 20%;
    margin-right: 20%;
}

.skills__header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
}

.skills__icon {
    padding: 5%;
}

.skills__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.skills__js {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}

.skills__html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}

.skills__css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}

.skills__react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}

.skills__python {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}

.skills__node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}

.skills__github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: 'Bebas Neue', cursive;
}