.about__pic {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.about__top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
}

.about__words {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: xx-large;
}