.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}