nav {
    position: sticky;
    top: 0;
    background-color: burlywood;
    width: 8%;
    border-radius: 5px;
    margin: 15px;
}

ul {
    list-style-type: none;
}

.navbar__burger:hover {
    cursor: pointer;
    display: block;
}

.navbar__menu {
    background-color: blue;
    
}

/* .navbar__icon {
        hamburger icon in navbar
} */

/* .navbar__listItem {
    navbar list items
} */