.dropdown__menu {
    width: 10rem;
    position: absolute;
    text-align: start;
    list-style: none;
    top: 67px;
}

.dropdown__menu.clicked {
    display: none;
}

.dropdown {
    background-color: blueviolet;
}