@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.projects__name {
    font-family: 'Bebas Neue', cursive;
}

#projects__name {
    font-size: xxx-large;
}
body {
    background-color: #5CDB95;
}